*{
    overflow-x: hidden;
}
.serviceList{
    transition:all 0.3s ease;
    cursor:pointer
}
.serviceList:hover{
    transform:scale(1.1)
}

.logoImage{
    max-width:100%;
    min-height:120px;
}
.logoImageDiv{
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 50%;
}
.homeButtonDiv{
    display: block;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}